.confirmRowBtn {
	position: absolute;
	right: -105px;
	top: 0;
	width: 95px;
	height: 100%;
	border-radius: 20px;
	background-color: #f3ca52;
	box-shadow: 0 3px #c3a038;
	text-shadow: 0 1px grey;
}

.icon {
	font-size: 22px;
}

.confirmRowBtn:hover {
	filter: brightness(0.8);
}

.active {
	border: 3px solid white;
}

.active::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border-radius: 20px;
	box-shadow: inset 0 1px grey;
}

@media screen and (max-width: 500px) {
	.confirmRowBtn {
		right: -102px;
		width: 90px;
	}

	.icon {
		font-size: 20px;
	}

	.active {
		border: 2px solid white;
	}
}
