.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-bottom: 7px solid #002518;
  background-color: #023624;
  font-size: 1.5rem;
  letter-spacing: 0.5rem;
  text-shadow: 0 3px black;
}

.header span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.returnBtn {
  position: absolute;
  left: 10px;
  top: 7px;
}

@media screen and (max-width: 600px) {
  .returnBtn {
    top: 14px;
  }
}

@media screen and (max-width: 500px) {
  .header span {
    display: none;
  }
}

@media screen and (max-height: 650px) {
  .header > * {
    font-size: 2rem;
  }

  .returnBtn {
    top: 3px;
  }
}
