.returnBtn {
  display: flex;
  align-items: center;
  background-color: transparent;
  color: white;
  font-size: 50px;
}

@media screen and (max-width: 600px) {
  .returnBtn {
    font-size: 40px;
  }
}

@media screen and (max-height: 650px) {
  .returnBtn {
    font-size: 40px;
  }
}
